body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F9F0F0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-panel {
    flex: 1.5;
    padding: 50px;
    background: linear-gradient(to right, #d69f5f, #f0b673); /* brown gradient */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 16px;
    line-height: 1.5;
}

.right-panel {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 15px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #e0aaff; /* Light pink border */
    border-radius: 5px;
    font-family: 'FontAwesome', sans-serif;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-login {
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #f56a79, #f56a79); /* Pink gradient */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background: linear-gradient(to right, #ff65a3, #f56a79); /* Reversed pink gradient */
}
