<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-styles.css') }}">
    <title>Dashboard</title>

</head>
<body>

    <div class=e1_37>
        <div class=e1_40>
          <div class=e1_364>
            <div class=ei1_364_1_351>
              <div class="ei1_364_1_351_1_283"></div>
            </div><span  class="ei1_364_1_243">Dashboard</span>
          </div>
          <div class=e1_373>
            <div class=ei1_373_1_351>
              <div class="ei1_373_1_351_1_283"></div>
            </div><span  class="ei1_373_1_243">Dashboard</span>
          </div>
          <div class=e1_404>
            <div class=ei1_404_1_351>
              <div class="ei1_404_1_351_1_286"></div>
            </div><span  class="ei1_404_1_243">Orders</span>
          </div>
          <div class=e1_408>
            <div class=ei1_408_1_351>
              <div class="ei1_408_1_351_1_293"></div>
            </div><span  class="ei1_408_1_243">Product</span>
          </div>
          <div class=e1_412>
            <div class=ei1_412_1_351>
              <div class="ei1_412_1_351_1_341"></div>
              <div class="ei1_412_1_351_1_342"></div>
            </div><span  class="ei1_412_1_243">Customer</span>
          </div>
          <div class=e1_416>
            <div class=ei1_416_1_351>
              <div class="ei1_416_1_351_1_299"></div>
            </div><span  class="ei1_416_1_243">Settings</span>
          </div>
        </div><span  class="e1_426">Dashboard</span>
        <div class=e1_38><span  class="e1_47">Admin</span>
          <div class=e1_66>
            <div class="ei1_66_54616_25460"></div>
          </div><span  class="e1_68">Trunk Ladies</span>
        </div>
        <div class="e1_443"></div>
        <div class="e1_444"></div>
        <div class="e1_445"></div>
        <div class="e1_446"></div>
      </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>